@model string

@{
    ViewData["Title"] = "Activation Email Sent";
}

<h1>Activation email sent. Please check your email and click the link.</h1>

<div class="form-group">
    <a asp-action="ResendEmail" asp-controller="Register" asp-route-userId=@($"{Model}")
        class="btn btn-primary">Resend</a>
</div>