@model ResendEmailConfirmationViewModel

@{
    ViewData["Title"] = "Activation Email Sent";
}

<h1>Activation email sent. Please check your email and click the link.</h1>

<div class="form-group">
    <a asp-action="ResendEmail" asp-controller="Register" class="btn btn-primary" asp-route-userId=@($"{Model.UserId}")
        asp-route-returnUrl=@($"{Model.ReturnUrl}")>Resend</a>
</div>
