CREATE TABLE "UserRole" (
    "Id" integer NOT NULL GENERATED BY DEFAULT AS IDENTITY,
    "UserId" uuid NOT NULL,
    "Role" integer NOT NULL,
    CONSTRAINT "PK_UserRole" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_UserRole_Users_UserId" FOREIGN KEY ("UserId") REFERENCES "Users" ("Id") ON DELETE CASCADE
);

CREATE INDEX "IX_UserRole_UserId" ON "UserRole" ("UserId");
